<header class="header-5">
  <div class="branding">
    <a href="..." class="nav-link">
      <span class="title">ImageCl</span>
    </a>
  </div>
  <div class="header-nav">
    <ng-container *ngIf="authService.isLoggedIn()">
      <a routerLink="/analyse" id="analyse" class="nav-link" (click)="changeActiveAnalyse()"><span class="nav-text">Analyse</span></a>
      <a routerLink="/images" id="gallery" class="nav-link" (click)="changeActiveGallery()"><span class="nav-text">Gallery</span></a>
      <a routerLink="/statistics" id="statistics" class="nav-link" (click)="changeActiveStatistics()"><span class="nav-text">Statistics</span></a>
      <a routerLink="/profile" id="profile" class="nav-link" (click)="changeActiveProfile()"><span class="nav-text">Profile</span></a>
    </ng-container>
  </div>

  <div *ngIf="authService.isLoggedIn()" class="header-actions">
      <span class="nav-text username">{{ user?.username || 'Guest' }}</span>
      <img
        [src]="user?.picture ? user?.picture : '../../assets/default.jpg'"
        alt="No Profile Picture"
        class="profile-picture"
      />
  </div>
</header>

<router-outlet></router-outlet>
