
<section id="alert-container">
<div class="alert alert-danger" role="alert">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
      </div>
      <span class="alert-text">ERROR: not an image url</span>
    </div>
  </div>
</div>
<div class="alert alert-success" role="alert">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <cds-icon class="success-icon" shape="exclamation-circle"></cds-icon>
      </div>
      <span class="alert-text">Successfully analysed</span>
      <a id="viewImage" (click)="navigateToResultView(imageToAnalyse.id)">View analysed image</a>
    </div>
  </div>
</div>
</section>


<form id="imageForm">
  <label id="labelInput">Point an image url to analyse and save in gallery</label>
  <clr-input-container>
    <input id="url" clrInput placeholder="Image url" name="url"/>
  </clr-input-container>

  <button type="submit" class="btn btn-success-outline" (click)="getImageByUrl()">Analyse image</button>
</form>
