* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.image{
  margin: 0.5rem;
  width: 17rem;
}

.header-5 clr-combobox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#select-tags{
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 1rem;
  width: 100%;
}

#select-tags>label{
  padding-bottom: 0.6rem;
}

#buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.3rem;
  padding-bottom: 0.3rem;
}
#buttons > button{
  margin: 0.1rem;
}

clr-combobox-container{
  margin-left: 0.5rem;
}

.clr-row{
  display: flex;
  box-sizing: border-box;
}
