<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Gallery</title>-->
<!--</head>-->
<!--<body>-->
<!--<header class="header-5">-->
<!--  <div class="branding">-->
<!--    <a href="../../index.html" routerLink="/analyse" class="nav-link">-->
<!--&lt;!&ndash;      <cds-icon shape="vm-bug"></cds-icon>&ndash;&gt;-->
<!--      <span class="title">ImageCl</span>-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="header-nav">-->
<!--    <a href="app.html" routerLink="/analyse" class=" nav-link" aria-current="page"><span class="nav-text">Analyse</span></a>-->
<!--    <a href="../../gallery.html" routerLink="/gallery" class="active nav-link"><span class="nav-text">Gallery</span></a>-->
<!--  </div>-->
<!--  <clr-combobox-container>-->
<!--    <clr-combobox name="multiSelect" clrMulti="true" required>-->
<!--      <clr-options>-->
<!--        <clr-option *clrOptionItems="let tag of tags; field:'tag'" >-->
<!--          {{ tag?.name}}-->
<!--        </clr-option>-->
<!--      </clr-options>-->
<!--    </clr-combobox>-->
<!--  </clr-combobox-container>-->
<!--</header>-->

<!--<section id="gallery" >-->
<!--  <div *ngFor="let image of images">-->
<!--    <div class="clr-row">-->
<!--      <div class="clr-col-lg-6 clr-col-12">-->
<!--        <a href="..." class="card clickable card-img">-->
<!--          <img src="{{image?.url}}" alt="image" />-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--</body>-->
<!--</html>-->
