
<div id="select-tags">
  <label>Filter by tags</label>
  <clr-combobox-container>
  <clr-combobox [(ngModel)]="selection" name="multiSelect" clrMulti="true" required>
    <ng-container *clrOptionSelected="let selected">
      {{selected?.name}}
    </ng-container>
    <clr-options>
      <clr-option *clrOptionItems="let tag of tags; field:'name'" [clrValue]="tag">
         {{tag.name}}
      </clr-option>
    </clr-options>
  </clr-combobox>
  <clr-control-helper>Choose tags</clr-control-helper>
</clr-combobox-container>
  <div id="buttons">
    <button (click)="getImagesByTags()" class="btn btn-sm">Filter</button>
    <button (click)="getAllImages()" class="btn btn-sm">All images</button>
  </div>
</div>

<section id="gallery">
  <div class="image" *ngFor="let image of images">
<!--    <div class="clr-row">-->
<!--      <div class="clr-col-lg-6 clr-col-12">-->
        <a class="card clickable card-img">
          <img (click)="navigateToResultView(image.id)" src="{{image?.url}}" alt="image" />
        </a>
<!--      </div>-->
<!--    </div>-->
  </div>
</section>

