* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#image-analysed {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  width: 100%;
  height: 30rem;
}

#tags-list {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#tags-list > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
}

#tags-list > span {
  color: #00567A;
  font-family: inherit;
  font-weight: 500;
  padding-left: 2rem;
}

#tags {
  display: flex;
  flex-direction: column;
}

#image {
  height: 20rem;
  align-items: center;
  justify-content: center;
}

.label {
  padding: 0.5rem;
  font-size: medium;
  font-weight: 800;
  margin: 0.5rem;
  cursor: pointer;
}

.confidence {
  position: relative;
  visibility: hidden;
}

.label:hover + .confidence {
  visibility: visible;
}

