<div class="login-container">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <h2>Log in</h2>
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" ngModel name="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" ngModel name="password" required>
      </div>
      <button type="submit" [clrLoading]="submitBtnState" [disabled]="!loginForm.valid">Login</button>
    <div id="registerLink">
      <a href="/register">Create account</a>
    </div>
      <div id="inform"></div>
    </form>
  </div>
